<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--    <beans profile="development">-->
    <!--        &lt;!&ndash;配置DataSource&ndash;&gt;-->
    <!--        <bean id="datasource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="clone">-->
    <!--            <property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
    <!--            <property name="url" value="jdbc:mysql://127.0.0.1"/>-->
    <!--            <property name="username" value="root"/>-->
    <!--            <property name="password" value="root"/>-->
    <!--        </bean>-->
    <!--    </beans>-->

    <beans profile="production">
        <!--配置DataSource-->
        <bean id="datasource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource" >
            <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://127.0.0.1"/>
            <property name="username" value="root"/>
            <property name="password" value="root"/>
        </bean>

        <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
            <property name="dataSource" ref="datasource"/>
        </bean>

    </beans>



</beans>
