<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>

        <!--加入Druid DataSource -->
        <!--Druid Start
        <property name="driverClassName">com.mysql.jdbc.Driver</property>
        <property name="url">jdbc:mysql:///localhost:3306?useSSL=false</property>
        <property name="username">root</property>
        <property name="password">root</property>
        <property name="filter">stat,log4j</property>
        <property name="initialSize">5</property>
        <property name="maxActive">100</property>
        <property name="maxWait">60000</property>
        <property name="timeBetweenEvictionRunsMillis">60000</property>
        <property name="minEvictableIdleTimeMillis">300000</property>
        <property name="validationQuery">SELECT 1</property>
        <property name="testWhileIdle">true</property>
        <property name="testOnBorrow">false</property>
        <property name="testOnReturn">false</property>
        <property name="poolPreparedStatements">false</property>
        <property name="maxPoolPreparedStatementPerConnectionSize">200</property>
        <property name="hibernate.connection.provider_class"
            com.alibaba.druid.support.hibernate.DruidConnectionProvider
        </property>
        -->
        <!--Druid End-->


        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- List of XML mapping files -->
        <mapping resource="mapper/employee.hbm.xml"/>
        <mapping class="work.lishubin.java.hibernate.bean.UserEntity"/>
        <mapping resource="work/lishubin/java/hibernate/bean/UserEntity.hbm.xml"/>

    </session-factory>
</hibernate-configuration>